.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #E5F0EC4f;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    z-index: 1;
    width: 120px;
    padding: 5px 0;
}


.tooltip .tooltip_main
{
    /* Position the tooltip */
    position: absolute;
    top: -5px;
    right: 105%;
}
.tooltip:hover .tooltip_main{
    visibility: visible;
}

.tooltip .tooltip_author 
{
    /* Position the tooltip */
    position: right;
    background-color: #E5F0ECcc;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.tooltip:hover .tooltip_author{
    visibility: visible;
}


.tooltip2 {
    position: relative;
}
.tooltip2 .tooltip_author-bio 
{
    /* Position the tooltip */
    width: auto;
    text-align: left;
    position: absolute;
    top: 15px;
    left: 10px;

    visibility: hidden;
    background-color: #e5f0ec;
    color: #000000;
    border-radius: 6px;
    z-index: 1;
}
.tooltip2:hover .tooltip_author-bio {
    visibility: visible;
}

.uppercase
{
        text-transform: uppercase;
}

.overflow {
    /* white-space: nowrap;  */
    width: 22rem;
    height: 11rem;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: 1px solid #000000; */
  }

  .overflow_description {
    /* white-space: nowrap;  */
    width: 15rem;
    height: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: 1px solid #000000; */
  }

#myBtn{
    display:none;
}



 .tooltip .tooltiptext_top {
    visibility: hidden;
    width: auto;
    background-color: #E5F0EC;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    
    position: absolute;
    z-index: 1;
    min-width: 40px;
    bottom: 100%;
    left: 50%;
    margin-left: -10px; 
}
      
.tooltip:hover .tooltiptext_top {
    visibility: visible;
}

.grid-container {
    display: grid;
    grid-template-columns: 58% auto;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
